h2 {
	text-align: center;
}

h1 {
	text-align: center;
}

#list {
	margin 0 auto;
	width: 100%;
}

#accounts {
	margin-top: 30px;
}

table {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 100%;
}

table tr {
	width: 100%;
	text-align: center;
}

table th {
	font-weight: bold;
	padding-left: 50px;
}

table td {
	text-align: left;
	padding-top: 10px;
}

th, td {
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.panel-heading {
	font-weight: bold;
}

.editButton {
	text-align: right;
}

.deleteButton {
	text-align: center;
}

.payButton {
	text-align: left;
}

.spacing {
	padding-left: 50px;
}

th {
    background-color: #4CAF50;
    color: white;
}

